<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% seo %}
	<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
	<!-- 1) Google Fonts 서버와 미리 연결 -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

	<!-- 2) Ubuntu + Gelasio + Kulim Park + Nanum Myeongjo + Nanum Gothic + Noto Sans + Noto Sans KR + Roboto -->
	<link
		href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&family=Gelasio&family=Kulim+Park&family=Nanum+Myeongjo&family=Nanum+Gothic&family=Noto+Sans&family=Noto+Sans+KR&family=Roboto&display=swap"
		rel="stylesheet">


</head>