<article class="post">
  
  <style>
    article {
      padding: 0 0% 0;
      font-size: 17px;
      margin-bottom: 100px;
      line-height: 1.9;
    }

    .content {
      /*margin-left: 180px;*/
      flex: 1 1 auto;
      padding: 0px 0px;
    }
  </style>


  <!-- Welcome Section -->
  <div class="welcome-section">


    <!-- 첫 번째 로고 
    <img src="{{ '/assets/logo2.png' | relative_url }}" alt="Logo" style="height: 60px; margin-right: 20px;">
    -->

    <div style="text-align: center; margin: 0 20px;">
      <!--<img src="{{ '/assets/favicon.png' | relative_url }}" alt="Logo" style="height: 80px; max-width: 100%;">-->
      <!--
      <h2 style="font-size: 30px; color: white;">Welcome to LASER2COTS</h2>
      <p>Explore what we do with the lasers😀</p>-->
      <h2 style="min-height: 100px;">
        <span id="typing-text" style="font-family: Arial, sans-serif;  color: #fff"></span>
      </h2>
    </div>

    <!-- 두 번째 로고 
    <img src="{{ '/assets/favicon.png' | relative_url }}" alt="Laser2COTS Logo" style="height: 80px; margin-left: 20px;">
    -->
  </div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Typed('#typing-text', {
      strings: ["Welcome to QRT ECSS Archive"],
      typeSpeed: 30,
      showCursor: true,
      cursorChar: '|',
    });
  });
</script>

<!-- 
Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com
License - https://fontawesome.com/license/free
Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License
-->
